* {
  margin: 0%;
  padding: 0%;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.el-Cuadrado {
  width: 40vw;
  height: 30vh;
  background-color: #033b77;
}

.los-butones {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.los-butones > button {
  background-color: #5a0839;
  color: white;
  padding: 1rem;
}
/* latest news */
@keyframes latestNews {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

.latest-news {
  animation: latestNews 1s ease 0s 1 normal forwards;
}

.latest-news img {
  max-width: 100%;
  height: auto;
}
/* hoop */
@keyframes hoop {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.hoop {
  animation: hoop 2s ease 0s 1 normal forwards;
}

.hoop img {
  max-width: 100%;
  height: auto;
}

/* tipsy */
@keyframes tipsy {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

.tipsy {
  animation: tipsy 2s ease 0s 1 normal forwards;
}

.tipsy img {
  max-width: 100%;
  height: auto;
}
/* alarm clock */

@keyframes alarmClock {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  25%,
  40%,
  45%,
  60%,
  65% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

.alarm-clock {
  animation: alarmClock 2s ease 0s infinite normal forwards;
}

.alarm-clock img {
  max-width: 100%;
  height: auto;
}
/*ghost*/

@keyframes ghost {
  0% {
    opacity: 0.8;
    transform: scale(0.2);
  }

  80% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(2.2);
  }
}

.ghost {
  animation: ghost 2s ease 0s infinite normal forwards;
}

.ghost img {
  max-width: 100%;
  height: auto;
}
